<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.dao.hcDao.WayDao">
    <select id="getWayList" resultType="way">
        select * from crm_way
    </select>
    <insert id="addWay" parameterType="way">
        insert into crm_way(wayid,wayname) values(seq_way_id.nextval,#{wayname})
    </insert>

    <update id="updateStatus" parameterType="Integer">
        update crm_way set waystatus=#{waystatus} where wayid=#{wayid}
    </update>

    <update id="updateWay" parameterType="way">
        update crm_way set wayname=#{wayname} where wayid=#{wayid}
    </update>
</mapper>