<?xml version='1.0' encoding='UTF-8'?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssm.medical.dao.MedicalDao">

    <insert id="addmedical" parameterType="com.ssm.medical.pojo.Medical">
        insert into m_info(mino,miname,miprice,mireport,mirequire,miaddress,mcid,mides,miimg)
        values (#{mino},#{miname},#{miprice},#{mireport},#{mirequire},#{miaddress},#{mcid},#{mides},#{miimg})
    </insert>

    <select id="getMedicalInfo" resultType="com.ssm.medical.pojo.Medical">
        select * from m_info
    </select>
</mapper>