<?xml version='1.0' encoding='UTF-8'?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace为指定命名空间可以一样，可以随意取名-->
<mapper namespace="com.mbatis.pojo.Dept">
    <!--开始二级缓存-->
    <cache></cache>
    <!--配置对应pojo类属性名和数据库表的列名
        type可以为在核心文件配置的别名，也可以指定文件夹对应的类
        如果pojo类的属性名跟数据库的列名相同可以不写<result/>
        主键用id
        -->
    <resultMap id="deptMap" type="dept">
        <result property="dename" column="dname"></result>
    </resultMap>
    <!--查询数据
        id是为标识符在命名空间一样的情况下是不能一样的否则会报错
        resultMap指定对应的结果集
        -->
    <select id="selectDept" resultMap="deptMap">
      SELECT * FROM Dept
    </select>
    <!--插入数据
        parameterType是指定参数，可以为对象，当前为Dept类的别名（在核心文件已经配置好了）
        该其属性用#{}表达
        -->
    <insert id="addDept" parameterType="dept">
        insert into dept(deptno,dname,loc) values(SEQ_DEPTID.nextval,#{dname},#{loc})
    </insert>
    <!--查询指定数据
        结果集为Dept类对象
        -->
    <select id="getDeptno" resultType="dept" parameterType="java.lang.Integer">
        select * from dept where deptno=#{deptno}
    </select>
</mapper>