<?xml version='1.0' encoding='UTF-8'?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbatis.pojo.Emp">
    <cache></cache>

    <!--
        多表查询显示的数据
    -->
    <select id="selectEmpDept" resultType="com.mbatis.vo.empInfoView">
        select e.empno,e.ename,t.dname,t.loc from emp e,dept t where e.deptno=t.deptno
    </select>

    <select id="selectEmp" resultType="emp">
      SELECT * FROM Emp
    </select>
</mapper>